<li id="record-<%= record.id %>">
  <table class="table">
    <tr>
      <td class="record_value"><%= record.record_value %></td>
      <td class="created_at"><%= record.created_at %></td>
     </tr>
  </table>
</li>