<li id="measurement-<%= measurement.id %>">
  <table>
    <tr>
      <td class="event"><%= measurement.event %></td>
      <td>　レコードバリュー　</td>
      <td class="unit"><%= measurement.unit %></td>
      <td class="value_type"><%= measurement.value_type %></td>
    </tr>
  </table>
</li>